extends portalLayout

block nav
  nav.navbar-default.sidebar(role='navigation', style="margin-top:0px")
    .sidebar-nav.navbar-collapse
      ul.nav.in#side-menu
        li
          a(href='/adminportal')
            i.glyphicon.glyphicon-dashboard
              Link Dashboard
        li
          a(href='/reviewsitemanagerapplications')
            i.glyphicon.glyphicon-inbox
              Link Review Applications
        li
          a(href='#')
            i.glyphicon.glyphicon-list-alt
              Link Manage Users
        li
          a(href='/reviewmolecules')
            i.glyphicon.glyphicon-list-alt
              Link Review Molecules
        li
          a(href='#')
            i.glyphicon.glyphicon-alert
              Link Resign Global Admin
        li
          a(href='#')
            i.glyphicon.glyphicon-log-out
              Link Logout
  #page-wrapper(style="min-height: 582px;")
    block content
