extends portalLayout

block nav
  div.navbar-default.sidebar(role='navigation', style="margin-top:0px")
    .sidebar-nav.navbar-collapse
      ul.nav#side-menu
        li
          a(href='/globaladmin')
            i.fa.fa-dashboard
            | &nbsp;Global Admin Dashboard
        li
          a(href='#')
            i.fa.fa-inbox
            | &nbsp;Review Applications
        li
          a(href='#')
            i.fa.fa-users
            | &nbsp;Manage Users
        li
          a(href='/globaladmin/reviewmolecules')
            i.fa.fa-list
            | &nbsp;Review Molecules
        li
          a(href='#')
            i.fa.fa-warning
            | &nbsp;Resign Global Admin
  #page-wrapper(style="min-height: 582px;")
    block content
