extends portallayout

block nav
  nav.navbar-default.sidebar(role='navigation', style="margin-top:0px")
    .sidebar-nav.navbar-collapse
      ul.nav.in#side-menu
        li
          a(href='/adminPortal')
            i.glyphicon.glyphicon-dashboard
             Dashboard
        li
          a(href='/reviewsitemanagerapplications')
            i.glyphicon.glyphicon-inbox
             Review Applications
        li
          a(href='#')
            i.glyphicon.glyphicon-list-alt
             Manage Users
          li
            a(href='/reviewmolecules')
              i.glyphicon.glyphicon-list-alt
               Review Molecules
        li
          a(href='#')
            i.glyphicon.glyphicon-alert
             Resign Global Admin
        li
          a(href='#')
            i.glyphicon.glyphicon-log-out
             Logout
  #page-wrapper(style="min-height: 582px;")
    block content
