extends adminlayout

block content
  .row
    .col-lg-12
      h1.page-header Admin Portal - Dashboard
  .row
    .col-lg-3.col-md-6
      .panel.panel-primary
        .panel-heading
          .row
            .col-xs-3
              i.fa.fa-cloud.fa-5x
            .col-xs-9.text-right
              div New Molecules!
        a(href='/reviewmolecules')
          .panel-footer
            span.pull-left Review Molecule Submissions
            span.pull-right
              i.fa.fa-arrow-circle-right
            .clearfix
