extends portalLayout

block nav
  nav.navbar-default.sidebar(role='navigation', style="margin-top:0px")
    .sidebar-nav.navbar-collapse
      ul.nav.in#side-menu
        li
          a(href='/adminportal')
            i.fa.fa-dashboard
               Dashboard
        li
          a(href='/reviewsitemanagerapplications')
            i.fa.fa-inbox
               Review Applications
        li
          a(href='#')
            i.fa.fa-users
               Manage Users
        li
          a(href='/globaladmin/reviewmolecules')
            i.fa.fa-list
               Review Molecules
        li
          a(href='#')
            i.fa.fa-warning
               Resign Global Admin
  #page-wrapper(style="min-height: 582px;")
    block content
