extends layout

block content
  h1.page-header Site Manager Application
  .container
    .row
      form.form-horizontal
        .form-group
          label.col-md-1.control-label Street
          .col-md-4
            input.form-control.required#username(type='text', placeholder='Street')
        .form-group
          label.col-md-1.control-label City
          .col-md-4
            input.form-control.required#username(type='text', placeholder='City')
        .form-group
          label.col-md-1.control-label State
          .col-md-4
            input.form-control.required#username(type='text', placeholder='State')
        .form-group
          label.col-md-1.control-label Country
          .col-md-4
            select#country.form-control
              option(value='1') Select a Country
              option(value='2') United States
              option(value='3') Canada
        .form-group
          .col-md-6.col-md-offset-1
            label.control-label(for="comments") Reason for Site Manager application
            textarea.form-control#comments(type='text' style="min-height:150px;")
            button.btn.btn-default(type='submit' style="margin-top:15px;") Submit Application
