extends managerLayout
block scripts
  script(src='/js/playlists.js')
  script(type="text/javascript").
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      var target = document.getElementById(ev.target.id);
      var moleculeObj = { molecule: ev.target.id, author: target.getAttribute("author"), timeIndex: target.getAttribute("index") };
      ev.dataTransfer.setData("json", JSON.stringify(moleculeObj));
      ev.dataTransfer.setData("text", ev.target.id);
    }

    var moles = [];
    function drop(ev) {
      ev.preventDefault();
      var element = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(element));
      var data = JSON.parse(ev.dataTransfer.getData("json"));
      if (ev.target.id === 'playlist') {
        moles.push(data);
      } else {
        moles.splice(jQuery.inArray(data, moles), 1);
      }
      $('#list').val(JSON.stringify(moles));
    }

block content
  .container
    h1.page-header Create Playlist
    form.form-horizontal(method="post")
      .form-group
        label.sr-only.control-label Playlist Name
        .col-md-4
          input.form-control.required#name(type='text', placeholder='Playlist Name', name='playlistname')
      .form-group
        label.sr-only.control-label Playlist
        .col-md-4
          #playlist(name="playlist" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:400px;height:200px;display:inline-block")
        input#list(name="list" type="hidden")
      .form-group
        label.sr-only.control-label Molecules
        .col-md-4
          #mols(style="width:400px; height:200px;" ondrop="drop(event)" ondragover="allowDrop(event)")
      .form-group
        label.sr-only.control-label Submit
        .col-md-4
          button.btn.btn-primary(type="submit" onclick="create()")
            i.fa.fa-check
            span
              | &nbsp;Submit

    script(type="text/javascript").
      var moles = !{molecules};
      var mols = moles.length;
      for(var i = 0; i < mols; i++) {
        var div = $('<div>');
        var time = $('<input>');
        div.text(moles[i].name);
        div.attr("draggable","true");
        div.attr("ondragstart","drag(event)");
        div.attr("id",moles[i].name);
        div.attr("class","btn-default btn");
        div.attr("author",moles[i].author);
        div.attr("index", i);
        time.attr("name","time");
        time.attr("placeholder","Sec.");
        time.attr("size","5");
        div.append("<br>");
        div.append(time);
        $('#mols').append(div);
      }