extends portallayout

block nav
  nav.navbar-default.sidebar(role='navigation', style="margin-top:0px")
    .sidebar-nav.navbar-collapse
      ul.nav.in#side-menu
        li
          a(href='/')
            i.fa.fa-link
             Index
        li
          a(href='/playwithmolecules')
            i.fa.fa-link
             Play With Molecules
        li
          a(href='/createaccount')
            i.fa.fa-link
             Create Account
        li
          a(href='/login')
            i.fa.fa-link
             Log In
        li
          a(href='/myaccount')
            i.fa.fa-link
             My Account
        li
          a(href='/submitmolecule')
            i.fa.fa-link
             Submit Molecules
        li
          a(href='/applyforsitemanager')
            i.fa.fa-link
             Apply For Site Manager
        li
          a(href='/managemysite')
            i.fa.fa-link
             Manage My Site
        li
          a(href='/createplaylist')
            i.fa.fa-link
             Create Playlist
        li
          a(href='/editplaylist')
            i.fa.fa-link
             Edit Playlist
        li
          a(href='/adminportal')
            i.fa.fa-link
             Admin Portal
        li
          a(href='/moleculesubmissions')
            i.fa.fa-link
             Molecule Submissions
        li
          a(href='/reviewsitemanagerapplications')
            i.fa.fa-link
             Review Site Manager Applications
  #page-wrapper(style="min-height: 582px;")
