extends portalLayout

block nav
  nav.navbar-default.sidebar(role='navigation', style="margin-top:0px")
    .sidebar-nav.navbar-collapse
      ul.nav.in#side-menu
        li
          a(href='/')
            i.fa.fa-link
              Link Index
        li
          a(href='/playwithmolecules')
            i.fa.fa-link
              Link Play With Molecules
        li
          a(href='/createaccount')
            i.fa.fa-link
              Link Create Account
        li
          a(href='/login')
            i.fa.fa-link
              Link Log In
        li
          a(href='/myaccauth')
            i.fa.fa-link
              Link My Account
        li
          a(href='/users/submitmolecule')
            i.fa.fa-link
              Link Submit Molecules
        li
          a(href='/users/applyforsitemanager')
            i.fa.fa-link
              Link Apply For Site Manager
        li
          a(href='/users/managemysite')
            i.fa.fa-link
              Link Manage My Site
        li
          a(href='/users/createplaylist')
            i.fa.fa-link
              Link Create Playlist
        li
          a(href='/users/editplaylist')
            i.fa.fa-link
              Link Edit Playlist
        li
          a(href='/users/adminportal')
            i.fa.fa-link
              Link Admin Portal
        li
          a(href='/users/moleculesubmissions')
            i.fa.fa-link
              Link Molecule Submissions
        li
          a(href='/users/reviewsitemanagerapplications')
            i.fa.fa-link
              Link Review Site Manager Applications
  #page-wrapper(style="min-height: 582px;")
