extends layout

block content
  .jumbotron(style="background:#f8f8f8;")
    img(src='/molecule.png' style="float:left;")
    h1 Molecular Playground
    br
    h4
      a(href='/playwithmolecules') Play with molecules
      text &nbsp;or get started by&nbsp;
      a(href='/createaccount') creating an account!
