doctype html
html
  head
    link(href='./stylesheets/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
  body(style="padding-top:20px;")
    .container
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
          #navbar.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/') Home
              li
                a(href='/playWithMolecules') Play With Molecules
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/createAccount') Create Account
              li
                a(href='/myAccount') My Account
              li
                a(href='/logIn') Log In
    .container
      block content

    .container
      ol.breadcrumb
        li
          a(href='/') Home
        if title != 'Index'
          li
            a(href=title) #{title}
      footer
        © ThreeTwenty
