doctype html
html
  head
    link(href='/stylesheets/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body(style="margin-top:20px;")
    .container
      nav.navbar.navbar-default(role='navigation')
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') Molecular Playground
          #navbar.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/playwithmolecules') Play With Molecules
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/createaccount') Create Account
              li
                a(href='/users/') My Account
              if loggedIn === true
                li
                  a(href='/login') Log Out
              else
                li
                  a(href='/login') Log In

      block content

      ol.breadcrumb
        li
          a(href='/') Home
        if title !== 'Index'
          li
            a(href=title) #{title}

      footer
        p ThreeTwenty 2015
          span.glyphicon.glyphicon-copyright-mark
        a(href='/devsitemap') Site Map (Dev)
