extends portalLayout

block scripts
  script(src='/js/playlists.js')
  script(type="text/javascript").
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));
    }

block nav
  div.navbar-default.sidebar(role='navigation', style="margin-top:0px")
    .sidebar-nav.navbar-collapse
      ul.nav#side-menu
        li
          a(href='/sitemanager')
            i.fa.fa-dashboard
            &nbsp;Dashboard
        li
          a(href="#")
            i.fa.fa-list
            &nbsp;Playlists
            span
              i.fa.arrow
          ul.nav.nav-second-level
            li
              a(href='/sitemanager/createplaylist')
                i.fa.fa-plus
                &nbsp;Create Playlist
            li
              a(href='/sitemanager/viewPlaylists')
                i.fa.fa-film
                &nbsp;Preview Playlists
        li
          a(href='#')
            i.fa.fa-users
            &nbsp;Manage Local Delegates
        li
          a(href='#')
            i.fa.fa-warning
            &nbsp;Resign Site Manager

  #page-wrapper(style="min-height: 582px;")
    block content
