extends managerLayout

block scripts
  link(href='/stylesheets/style.css', rel='stylesheet')
  script(src='/js/playlists.js')
  script(type="text/javascript").
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));
    }

block content
  .row
    .col-md-12
      .panel.panel-default(style="margin-top:15px;")
        .panel-heading
          h Schedule
        .panel-body
          .times(style="width:100%;height:300px;display:inline-block;")
            H 1am - Noon
            br
            .row
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
            br
            H 1pm - Midnight
            br
            .row
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
              .col-md-1(ondrop="drop(event)" ondragover="allowDrop(event)")
          .available#mols(ondrop="drop(event)" ondragover="allowDrop(event)")
          script(type="text/javascript").
            populateMolecules();

  script("type=text/javascript").
    populateMolecules();
