extends managerLayout

block scripts
  link(href='/stylesheets/style.css', rel='stylesheet')

block content
  .row
    .col-lg-12
      h1.page-header Site Manager - Dashboard
  .row
    .col-lg-3.col-md-6
      .panel.panel-yellow
        .panel-heading
          .row
            .col-xs-3
              i.fa.fa-tasks.fa-5x
            .col-xs-9.text-right
              div Schedule
        a(href='/manageSchedule')
          .panel-footer
            span.pull-left Manage Schedule
            span.pull-right
              i.fa.fa-cogs
            .clearfix
