extends layout

block scripts
  script(type="text/javascript").
    function change() {
      var mol = $("#molName").val();
      javascript:Jmol.loadFile(jmolApplet0,'$' + mol);
    }
block content
  .row
    .col-md-3.col-md-offset-9
      form.form-inline(role='search')
        .input-group
          label.sr-only search
          input.form-control#molName(type='text' placeholder='Search', name='search')
          span.input-group-btn
            button.btn.btn-default(type='button' onclick='change()') Search
  .row
    .col-md-offset-3
      script#script(type="text/javascript" src="http://chemapps.stolaf.edu/jmol/jmol.php?model=caffeine&inline").
