doctype html
html
  head
    link(href='/stylesheets/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/adminCSS/dist/css/sb-admin-2.css', rel='stylesheet')
    block scripts
  body
    #wrapper
      nav.navbar.navbar-default.navbar-static-top(role='navigation' style="margin-bottom:0")
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') Molecular Playground
          #navbar.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/myAccount') My Account
    block nav
