doctype html
html
  head
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    link(href='/stylesheets/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/adminCSS/dist/css/sb-admin-2.css', rel='stylesheet')
    script(src="/stylesheets/bootstrap/js/dropdown.js")
    script(src="/stylesheets/bootstrap/js/transition.js")
    script(src="/stylesheets/adminCSS/dist/js/sb-admin-2.js")
    script(src="/stylesheets/bootstrap/js/collapse.js")
    script(src="/stylesheets/bootstrap/js/dropdown.js")
    script(src="/stylesheets/adminCSS/bower_components/metismenu/dist/metisMenu.min.js")
    block scripts
  body
    #wrapper
      nav.navbar.navbar-default.navbar-static-top(role='navigation' style="margin-bottom:0")
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') Molecular Playground
          #navbar.navbar-collapse
            ul.navbar-nav.nav
              li
                a(href='/playwithmolecules') Play With Molecules
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/author/uploadMolecule')
                  i.glyphicon.glyphicon-cloud-upload
                  |&nbsp;Upload Molecule
              li
                a(href='/myaccauth')
                  i.fa.fa-user
                  |&nbsp;My Account
              li
                a(href='/login')
                  i.fa.fa-sign-out
                  | &nbsp;Log Out
    block nav
