extends adminLayout

block content
  .row
    .col-md-12
      .panel.panel-default(style="margin-top:15px;")
        .panel-heading
          h Site Applications
        .panel-body
          table.table#temp
            thead
              tr
                th Number
                th Name
                th Application
                th Email
            tbody
            //TESTING ONLY
          p Testing Only
          button.btn.btn-default(onclick='fillTable(["red","blue","green","yellow"])') Populate
  script(type='text/javascript').
    fillTable(["pink","blue","orange","yellow"]);
