extends adminLayout

block scripts
  script(type="text/javascript").
    function removeRow(row) {
        $(row).remove();
      }


block content
  .row
    .col-md-12
      .panel.panel-default(style="margin-top:15px;")
        .panel-heading
          h Un-Approved Molecules
        .panel-body
          table.table.table-striped#tbl
            thead
              tr
                th Molecule
                th Files
                th Author
                th Date Submitted
                th Decision
            tbody
              
              tr#fifth
                td
                  | Example
                td
                  a(href="#") Example.zip
                td
                  | sitemanager
                td
                  | 12/18/2015
                td
                  button.btn.btn-primary(style="width:100px" onclick="removeRow('#fifth')")
                    i.fa.fa-check
                    | &nbsp;Approve
                  &nbsp;
                  button.btn.btn-danger(style="width:100px" onclick="removeRow('#fifth')")
                    i.fa.fa-times
                    | &nbsp;Reject
