extends adminlayout

block content
  .row
    .col-md-12
      .panel.panel-default(style="margin-top:15px;")
        .panel-heading
          h Un-Approved Molecules
        .panel-body
          T Table goes here
