extends layout

block content
  .row
    .col-md-12
      h1 Upload Molecule
      form
        .form-group
          label.sr-only(for="moleculeName") Molecule Name
          input.form-control#moleculeName(type='text' placeholder='Molecule')
        .form-group
          label(for="uploadScript") XYZ Script File
          input#uploadScript(type='file')
        .form-group
          label(for="uploadJmol") Jmol Script File
          input#uploadJmol(type='file')
        .form-group
          label.sr-only(for="affiliation") Affiliation
          input.form-control#affiliation(type='text' placeholder='Affiliation')
        .form-group
          label(for="comments") Additional Information
          textarea.form-control#comments(type='text')
