extends managerLayout

block scripts
  link(href='/stylesheets/style.css', rel='stylesheet')

block content
  .row
    .col-md-12
      .panel.panel-default(style="margin-top:15px;")
        .panel-heading
          h Schedule
        .panel-body
          #mols(style="height:250px;")
    script(type="text/javascript").
      var playlist = !{playlists};
      var mols = playlist.length;
      for(var i = 0; i < mols; i++) {
        var div = $('<div>');
        var time = $('<input>');
        div.text(moles[i].name);
        div.attr("draggable","true");
        div.attr("ondragstart","drag(event)");
        div.attr("id",moles[i].name);
        div.attr("class","btn-default btn");
        div.attr("author",moles[i].author);
        div.attr("index", i);
        $('#mols').append(div);
      }
