extends managerLayout

block scripts
  link(href='/stylesheets/style.css', rel='stylesheet')

block content
  .row
    .col-md-12
      .panel.panel-default(style="margin-top:15px;")
        .panel-heading
          h Schedule
        .panel-body
