extends managerLayout

block scripts
  link(href='/stylesheets/style.css', rel='stylesheet')
  script(src='/stylesheets/bootstrap/js/bootstrap.min.js' type='text/javascript')

block content
  .row
    .col-md-12
          #myCarousel.carousel.slide(style="height:500px;" data-ride="carousel")
            ol.carousel-indicators
              li(data-target="#myCarousel" data-slide-to="0")
              li(data-target="#myCarousel" data-slide-to="1")
              li(data-target="#myCarousel" data-slide-to="2")
              li(data-target="#myCarousel" data-slide-to="3")
            .carousel-inner(role="listbox")
              .item.active
                img(class="img-responsive center-block" src="/caffeine.png" width="500" align="middle")
                .carousel-caption
                  h3 Caffeine
              .item
                img(class="img-responsive center-block" src="/aspirin.png" width="460" height="345")
                .carousel-caption
                  h3 Aspirin
              .item
                img(class="img-responsive center-block" src="/adrenaline.png" width="460" height="345")
                .carousel-caption
                  br
                  br
                  h3 Andrenaline
              .item
                img(class="img-responsive center-block" src="/temp.png" width="460" height="345")
                .carousel-caption
                  h3 Example
            a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
              i.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")
              i.glyphicon.glyphicon-chevron-right

  script(type="text/javascript").
    var playlist = !{playlists};
    console.log(playlist);
    var mols = playlist.length;
    for(var i = 0; i < mols; i++) {
      var red = $('<div>');
      red.text(playlist[i].title);
      red.attr("id",playlist[i].title);
      red.attr("class","btn-default btn");
      $('#mols').append(red);
    }
